llm_train_data/llm_train_text/
llm_train_data/llm_train_text_2/
*/candidate_pool*/
data/
retrieval_data/
pdffile_test/
make_batch_qa_list/
국방부훈령QA생성_llm_train/
docker/gpt
docker/retriever
src/__pycache__/
test.txt
# *.ipynb
*.csv
